<p id="notice"><%= notice %></p>

<% if user_signed_in? %>
   
<% end %>



 <table border="0" cellpadding="0" cellspacing="0">
            <tbody>
              <% i = 0 %>  
              <% @frontpages.each do |frontpage| %>
              <% i = i + 1 %>
              <tr class="athing">
                <td align="right" valign="top" class="title"><span class="rank"><%= i %></span></td>      <td><center><a id="up_9623609" onclick="return vote(this)" href="vote?for=9623609&amp;dir=up&amp;auth=ed80b0e3a580ed81e2102c4228dd4e9f97eec9cc&amp;goto=news"><div class="votearrow" title="upvote"></div></a></center></td><td class="title"><span class="deadmark"></span> 

   ▲ <%= link_to frontpage.title, frontpage_path(frontpage) %>

 <span class="sitebit comhead"></span></td></tr><tr><td colspan="2"></td><td class="subtext">
        <span class="score" id="score_9623609"><%= link_to frontpage.upvotes, frontpage_path(frontpage), method: :patch %>
</span> by <a href="user?id=rytis">rytis</a> <a href="item?id=9623609">4 hours ago</a> | <a href="item?id=9623609">44 comments</a>                              </td></tr>
       <% end %> 
      
  </tbody></table> 